<!DOCTYPE html>
<html>
  <head>
    Movement: WASD<br>
    Rotation: Mouse or Arrow Keys<br>
    Jump: Shift or Space<br>
    Fly: V<br>
    Run: E<br>
    Save World: P (to browser memory; may not work with local worlds)<br>
    Reset World: I<br>
    Next Block Type: Scroll or N or M<br>
    Place Block: Right Click<br>
    Rendering and Scripts: G<br>
    Execute Script: H<br>
    <br>
    For getting WebGL working and other help, see <a href="/help" target="_blank">/help</a><br>
    <!-- <br>
    Going to /world/'name'/x/y/z will edit the starting location.<br>
    Going to /color/'hex color' will edit the color of the sky.<br> -->
    <br>
    Select Local World<br>
    <%= link_to '/local', '/local', :target => '_blank' %><br>
    <br>
    Worlds:<br>
    <% @worlds.each do |world_name| %>
      <%= link_to "/world/#{world_name}", "/world/#{world_name}", :target => '_blank' %><br>
    <% end %>
    <br>
    <br>
    Rails env: <%= Rails.env %>
  </head>
</html>
